/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

h1 {
  font-size: 24px;
}
#login {
  margin: 5% 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.button-collapse {
  color: #26a69a;
}
.hidden {
  display: none !important;
}
.tabs .tab {
  background: #f7f7f7;
}
.pastel-green {
  background-color: #96CEB4 !important;
}
.pastel-yellow {
  background-color: #FFEEAD !important;
}
.pastel-red {
  background-color: #FF6F69 !important;
}
.pastel-orange {
  background-color: #FFCC5C !important;
}
.pastel-teal {
  background-color: #88D8B0 !important;
}

.pastel-green-text {
  color: #96CEB4 !important;
}

.pastel-yellow-text {
  color: #FFEEAD !important;
}

.pastel-red-text {
  color: #FF6F69 !important;
}

.pastel-orange-text {
  color: #FFCC5C !important;
}

.pastel-teal-text {
  color: #88D8B0 !important;
}

.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-25 {
  margin-top: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.required {
  color:red;
}

.hide {
  display: none;
}